* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #181616;
}

.container {
    display: flex;
    justify-content: center;
}

.slide {
    width: 300px;
    height: 80vh;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 1s;
}

.slide:nth-of-type(1) {
    background: url(https://images.unsplash.com/photo-1557081384-461cf563cd65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fHJvbGxzJTIwcm95Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center /cover;   
}

.slide:nth-of-type(2) {
    background: url(https://images.unsplash.com/photo-1603241326883-43c617963f90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fHJvbGxzJTIwcm95Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center /cover;
}

.slide:nth-of-type(3) {
    background: url(https://images.unsplash.com/photo-1627308095862-6a7df12de29b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHJvbGxzJTIwcm95Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center /cover;
}

.slide:nth-of-type(4) {
    background: url(https://images.unsplash.com/photo-1625028762956-296eb7f69d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHJvbGxzJTIwcm95Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center /cover;
}

.slide:nth-of-type(5) {
    background: url(https://images.unsplash.com/photo-1580912442015-a897bc79f255?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJvbGxzJTIwcm95Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center /cover;
}

.title {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 21px;
    opacity: 0;
}

.slide.active {
    width: 900px;
}

.slide.active .title {
    opacity: 1;
}